<body class="bg-gray-200 m-14">
  <!-- render nav bar -->
  <div class="text-6xl font-bold text-gray-700">
    Choose a space...
  </div>
  <div class="index_filters inline-block mt-14">
        <a class="px-5 py-3 bg-green-700 hover:bg-green-500 transition text-white rounded-lg shadow-lg uppercase tracking-wider font-semibold text-sm hover:no-underline" href="">Search Locations</a>
       <a class="px-5 py-3 bg-green-700 hover:bg-green-500 transition text-white rounded-lg shadow-lg uppercase tracking-wider font-semibold text-sm hover:no-underline" href="">Rating ^</a>
       <a class="px-5 py-3 bg-green-700 hover:bg-green-500 transition text-white rounded-lg shadow-lg uppercase tracking-wider font-semibold text-sm hover:no-underline" href="">Type [ ]</a>
  </div>


  <div class="index-container mt-10">
    <div class="error-message">
      <% if @spaces.empty? %>
        <p><em>Oops! No spaces around here right now. Try another search. Give "london" a try.</em></p>
      <% end %>
    </div>
    <div class="d-flex justify-content-between">
    <div class="index_cards flex flex-wrap justify-center align-center max-w-xl">
      <% @spaces.each do |space| %>
        <div class="index_card bg-green-700 m-3 text-white rounded-2xl relative">
          <div class="space_category bg-white opacity-20 rounded-2xl text-gray-700 absolute top-6 left-6 p-1 text-md">
            <%= space.category %>
          </div>
          <div class="space_name absolute top-14 left-6 font-bold mt-2">
            <%= space.name %>
          </div>
           <div class="space_address absolute top-20 left-6 pr-2 mt-2">
            <%= space.address %>
          </div>
          <div class="view_cta absolute bottom-4 left-6 border-2 border-white-800 border-opacity-20 text-center rounded-2xl p-2 hover:border-white">
            <p>View</p>
          </div>
          <div class="card_rating">
            * 4.7
          </div>
        </div>
      <% end %>
    </div>

<div class="hidden lg:block" id="map"
     style="width: 80vw; height: 100vh; position: sticky; top: 0;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

  </div>
</div>





  <div class="space_cta">
    ------
  </div>
</body>
